@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  * {
    @apply box-border;
  } 
}

@layer components {

  .primary-text {
    @apply text-base text-mainBlack-100 font-semibold leading-none
  }

  .secondary-text {
    @apply text-base text-mainGrey-100 font-normal leading-none
  }

  .primary-text-sm {
    @apply text-sm text-mainBlack-100 font-semibold leading-none
  }

  .secondary-text-sm {
    @apply text-sm text-mainGrey-100 font-normal leading-none
  }

  .paragraph-text {
    @apply text-base text-mainGrey-100 font-normal leading-normal
  }

  .heading {
    @apply text-3xl text-mainBlack-100 font-semibold leading-normal mb-4
  }

  .subheading {
    @apply text-xl text-mainBlack-100 font-semibold leading-normal mb-4
  }

  .main-button {
    @apply px-6 py-3 w-full border bg-mainColour-100 rounded-lg text-white cursor-pointer
     hover:bg-mainColour-100/70 hover:border-gray-500
  }

  .small-main-button {
    @apply px-4 w-fit border border-mainBlack-100 hover:bg-gray-200 rounded-lg text-mainBlack-100 cursor-pointer
      hover:border-gray-500 text-sm
  }

  .secondary-button {
    @apply px-6 py-3 w-full border-2 border-black rounded-lg text-black text-center cursor-pointer
     hover:border-gray-500 hover:border-4
  }

  .general-button {
    @apply px-4 py-1 h-fit border border-gray-600 rounded-full text-mainBlack-100 cursor-pointer
     hover:bg-gray-100 hover:border-mainBlack-100
  }

  .content-button {
    @apply px-6 py-5 border rounded-2xl border-mainGrey-100 cursor-pointer
     hover:border-2 hover:border-black
  }

  .content-button-selected {
    @apply px-6 py-5 border-2 rounded-2xl cursor-pointer
   border-black bg-gray-100
  }

  .small-container {
    @apply w-full max-w-[640px] px-5 py-5 sm:py-10 mx-auto
  }

  .medium-container {
    @apply w-full max-w-[850px] px-5 py-5 sm:py-10 mx-auto
  }
  
  .large-container {
    @apply w-full max-w-[1000px] px-5 py-5 sm:py-10 mx-auto
  }

  .xl-container {
    @apply w-full max-w-[1200px] px-5 py-5 sm:py-10 mx-auto
  }
  
  .form-label {
    @apply text-sm text-mainBlack-100 font-semibold leading-none inline-block align-middle bg-cyan-500 h-fit my-auto
 
  }
  
  .form-input {
    @apply outline-none bg-slate-400/10 rounded-sm border-[#242424]
    px-4 py-1 text-gray-500 placeholder-gray-500 transition-all text-sm
     focus:border-mainColour-100/40 focus:text-mainColour-100/40 hover:border-mainColour-100/40
  }


  
}

